---
import ImageCarousel from './ImageCarousel.astro';
import SizePicker from './SizePicker.tsx';

const { title, price, productId, img1, img2, alt, idSuffix } = Astro.props;
---

<div class='card bg-transparent w-120 h-120'>
	<figure class='px-10 pt-10'>
		{
			img2 ? (
				<ImageCarousel img1={img1} img2={img2} idSuffix={idSuffix} />
			) : (
				<img src={img1} alt={alt} />
			)
		}
	</figure>
	<div class='card-body items-center text-center'>
		<h2 class='font-RockSalt m-1 card-title'>{title}</h2>
		<p class='text-sm uppercase tracking-wide'>${price}</p>
		<div class='card-actions'>
			<SizePicker
				client:load
				productId={productId}
				title={title}
				price={price}
				imgUrl={img1}
			/>
		</div>
	</div>
</div>
